<html ng-app="app.viewer">
  <head>
    <title>My AngularJS App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css"
  </head>
  <body>
    <div class="container" ng-controller="viewCtrl as ctrl">
      <h1>Eclipse Manager Viewer</h1>
      <!-- First repeat is for groups -->
      <div class="card mb-2 bg-dark border-secondary" ng-repeat="(id,group) in ctrl.groups">
        <div class="card-header text-white">{{group.d}}</div>
        <div class="card-body">
          <!-- Second repeat is for projects.  Needed to use a filter function to get only associated projects. -->
          <div class="card border-primary mb-2" ng-repeat="(pid,proj) in ctrl.filterProjects(group.a)">
            <div class="card-header">{{proj.d}}</div>
            <div class="card-body">{{proj.i}}</div>
            <div class="card-body">
              <div class="card mb-2" ng-repeat="task in ctrl.filterTasks(pid)">
                <div class="card-header">{{task.d}}</div>
                <div class="card-body" ng-show="task.i != ''">{{task.i}}</div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item text-white" ng-repeat="sub in task.s">{{sub.d}}</li>
                </ul>
              </div>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
        <div class="card-footer"></div>
      </div>
      <div class="card border-warning mb-2" ng-init="groupDictShow = false">
        <div class="card-header text-warning" ng-click="groupDictShow=!groupDictShow">Groups Dictionary (Debug Only)</div>
        <div class="card-body" ng-show="groupDictShow"><pre>{{ctrl.groups | json}}</pre></div>
        <div class="card-footer"></div>
      </div>
      <div class="card border-warning mb-2" ng-init="projDictShow = false">
        <div class="card-header text-warning" ng-click="projDictShow=!projDictShow">Projects Dictionary (Debug Only)</div>
        <div class="card-body" ng-show="projDictShow"><pre>{{ctrl.projects | json}}</pre></div>
        <div class="card-footer"></div>
      </div>
      <div class="card border-warning mb-2" ng-init="taskArrayShow = false">
        <div class="card-header text-warning" ng-click="taskArrayShow=!taskArrayShow">Tasks Array (Debug Only)</div>
        <div class="card-body" ng-show="taskArrayShow"><pre>{{ctrl.tasks | json}}</pre></div>
        <div class="card-footer"></div>
      </div>
    </div>
    <script src="./data.js"></script>
    <script src="./viewer.js"></script>
  </body>
</html>
