<html ng-app="app.viewer">
  <head>
    <title>My AngularJS App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css"
  </head>
  <body>
    <div class="container" ng-controller="viewCtrl as ctrl">
      <h1>Eclipse Manager Viewer</h1>
      <div class="card mb-2 bg-primary border-primary" ng-repeat="(id,group) in ctrl.groups">
        <div class="card-header">{{group.d}}</div>
        <div class="card-body">
          <div class="card mb-2" ng-repeat="(pid,proj) in ctrl.filterProjects(group.a)">
            <div class="card-header">{{proj.d}}</div>
            <div class="card-body">{{proj.i}}</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" ng-repeat="task in ctrl.tasks | orderBy: 'b' | filter: pid as results track by $index">{{task | json}}</li>
            </ul>
            <div class="card-footer">{{proj | json}}</div>
          </div>
        </div>
        <div class="card-footer">{{group | json}}</div>
      </div>
      <div class="card p-2">
        <pre>
          {{ctrl.groups | json}}
        </pre>
      </div>
      <div class="card p-2">
        <pre>
          {{ctrl.projects | json}}
        </pre>
      </div>
      <div class="card p-2">
        <pre>
          {{ctrl.tasks | json}}
        </pre>
      </div>
    </div>
    <script src="./data.js"></script>
    <script src="./viewer.js"></script>
  </body>
</html>
